<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Register'}) %> 

<body>
    <%- include('./partials/header') %> 
    <main class="register">
        <section class="container-register">
            <h2 class="title">Únete hoy</h2>
            <p class="slogan-register">Empieza tu camino de aprendizaje</p>
            <div class="register-accounts">
                <button href="#" class="btn-log-facebook btn">Registrate con Facebook</button>
                <button href="#" class="btn-log-google btn">Registrate con Google</button>
            </div>
            <form class="container-form" action="/usuarios/registro" method="post">
                <div class="container-date">
                    <div class="input-container">
                        <input class="input-log" type="text" class="input-style" name="name" placeholder="Ingresa tu Nombre">
                        <input class="input-log" type="text" class="input-style" name="lastname" placeholder="Ingresa tu Apellido">
                        <input class="input-log" type="email" class="input-style" name="email" placeholder="Ingresa tu Email">
                    </div>
                    <div class="input-container">
                        <input class="input-log" type="password" class="input-style" name="email2" placeholder="Reingresa tu Email">
                        <input class="input-log" type="password" class="input-style" name="password" placeholder="Crea tu contraseña">
                        <input class="input-log" type="password" name="password2" placeholder="Reingresa tu contraseña">
                    </div>
                </div>
                <p class="conditions"><input type="checkbox" name="check" id="check">Acepta los <span
                        href="#">Términos
                        y Condiciones</span></p>
                <button type="submit" class="btn btn-log">Registrarse</button>
                <p class="account-exists">¿Ya tenes cuenta? <a class="log-in" href="/usuarios/inicioSesion">Inicia sesión aquí</a></p>
    
            </form>
        </section>
    </main>

    <!--          ------------FOOTER------------       -->
    <%- include('./partials/footer') %> 
    <script src="/javascript/burguer.js"></script>
    <script src="/javascript/deploy-footer.js"></script>
</body>

</html>